<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site use data from mapbox and open weather map.</p>
        <img class="portrait" src="/img/ano.jpg">
        <p>Designed by Two nerds in 2021 as a project for the <strong>Ph.D.</strong></p>
        <p>This project has being accepted by <strong>the Mith &#38; The legend Mister <i>Radoua
                    Abdelkarim</i>.</strong></p>
    </div>

    {{>footer}}
</body>

</html>